table{
	/* border-color: orange; */
  border: 1px solid orange;
	border-collapse:collapse;
}
.sub-total-text {
  text-align: right;
}
th, td {
  text-align: center;
  border: 1px solid orange;
  padding: 3px 5px;
}