/* table{ */
	/* border-color: orange; */
  /*border: 1px solid orange;
	border-collapse:collapse;
}*/
/* .sub-total-text {
  text-align: right;
} */

/* thead, td {
  text-align: center; */
  /* border: 1px solid orange; */
  /* padding: 3px 5px; 
 } */

table {
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: orange;
}

th, td {
  /* border: 1px solid orange; */
	
  padding: 3px 5px;
  text-align: center;
}

